/* latin */
input {
    padding: 5px;
    width: 97%;
    font-size: 21px;
    background: 0 0;
    text-align: left;
    color: inherit;
    margin: 0;
    border: none;
}
@font-face {
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    src: local('Questrial'), local('Questrial-Regular'), url(/framework/sam/login-font.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body{
    top: -60px;
    position: relative;
}

#hint {
    text-align: center;
    color: #F1F1F1;
}

.inputs {
    /*color: rgba(0,0,0,.54);*/
    line-height: 40px;
    overflow: hidden;
    padding: 16px;
    width: 90%;
    text-indent: 14px;
    color: grey;
}

#errormsg {
  color: red;
}

.input-box {
    height: 40px;
    border-radius: 4px;
    margin: 30px 10px;
    background-color: #FFFFFF
}

.func {
    position: absolute;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
}

.buttons {
    display: block;
    padding-top: 1em;
    padding-bottom: 2em;
}

.button {
    padding: 1em;
    background-color: #AFAFAF;
    color: #F1F1F1;
    border-radius: 4px;
}

.button:hover {
    background-color: #CACACA;
    color: #F1F1F1;
    cursor: pointer;
}

#title {
    font-family: 'Questrial', sans-serif;
    padding-top: 1em;
    overflow: hidden;
    text-align: center;
    font-size: 60px;
    line-height: 1em;
    color: #F1F1F1;
}

input {
  padding: 4px;
    width: 97%;
    font-size: 18px;
    background: 0 0;
    text-align: left;
    color: inherit;
    margin: 0;
    border: none;
}

#hint-box {
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(152,152,152,0.5);
}

#request {
  border-radius: 5px;
  background-color: rgba(152,152,152,0.5);
}

a {
    font-size: 20px;
}

@media (min-width: 1080px){
    #request {
        display: block;
        width: calc(33.3333333333% - 32px);
        box-sizing: border-box;
        margin: 10em auto 0 auto;
    }

    #title {
        padding-top: 1em;
        overflow: hidden;
        text-align: center;
        font-size: 70px;
        line-height: 1em;
        color: #F1F1F1;
    }

    #hint-box {
        display: block;
        width: calc(33.3333333333% - 32px);
        box-sizing: border-box;
        margin: 1em auto;
    }
    html, body {
        font-family: "Helvetica","Arial",sans-serif;
        font-size: 21px;
        font-weight: 400;
        line-height: 27px;
    }
}

@media (max-width: 1079px){
    #request {
        display: block;
        width: calc(64% - 32px);
        box-sizing: border-box;
        margin: 10em auto 0 auto;
    }

    #hint-box {
        display: block;
        width: calc(50% - 32px);
        box-sizing: border-box;
        margin: 1em auto;
    }
    html, body {
        font-family: "Helvetica","Arial",sans-serif;
        font-size: 21px;
        font-weight: 400;
        line-height: 27px;
    }
}


@media (max-width: 479px){
    #request {
        display: block;
        width: calc(107% - 32px);
        box-sizing: border-box;
        margin: 1em auto;
    }

    #title {
        padding-top: 1em;
        overflow: hidden;
        text-align: center;
        font-size: 45px;
        line-height: 1em;
        color: #F1F1F1;
    }

    element.style {
        margin-right: 0.4em;
    }
    .button {
        padding: 0.4em;
        background-color: #AFAFAF;
        color: #F1F1F1;
        border-radius: 4px;
    }
    
    #hint {
        text-align: center;
        color: #F1F1F1;
    }

    #hint-box {
        display: block;
        width: calc(100% - 32px);
        box-sizing: border-box;
        margin: 1em auto;
    }
    html, body {
        font-family: "Helvetica","Arial",sans-serif;
        font-size: 21px;
        font-weight: 400;
        line-height: 27px;
    }
}

@media (min-width: 319px) and (max-width: 374px) {
    element.style {
        margin-right: 0.4em;
    }
    .button {
        padding: 0.4em;
        background-color: #AFAFAF;
        color: #F1F1F1;
        border-radius: 4px;
    }
    html, body {
        font-family: "Helvetica","Arial",sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 27px;
    }
    
}
