div {
    background-color: transparent; !important;
}

a {
    color: #85bdea;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('http://wflmssam.sinaapp.com/framework/googlefont/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('http://wflmssam.sinaapp.com/framework/googlefont/MaterialIcons-Regular.woff2') format('woff2'),
    url('http://wflmssam.sinaapp.com/framework/googlefont/MaterialIcons-Regular.woff') format('woff'),
    url('http://wflmssam.sinaapp.com/framework/googlefont/MaterialIcons-Regular.ttf') format('truetype');
}

/* MDL Fonts*/

body {
    padding: 0;
    margin: 0;
}

.footer {
    clear: both;
}

body, #assignment-list-wrapper, #assignment-list {
    background-color: #edeff1; !important;
}

div {
    background-color: white;
}

div#right-part-view-class, div#assignment-list-class, div#assignment-list-class-assignment-pile, div#assignment-list-class-information-pile {
    background-color: #edeff1;
}


#apps-menu {
    position: absolute;
    right: 87px;
    color: #AAAAAA;
    height: 40px;
    line-height: 40px;
}

#avatar {
    position: absolute;
    right: 28px;
}

#assignment, #classes, #settings {
    background-color: transparent;
}

.a-button:hover{
    cursor: pointer;
}

#single-class-header{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    height: 50px;
    margin-bottom: 2px;
}

#single-class-compile{
    height: 50px;
    width: 100%;
}

#right-part-title{
    text-align: center;
    width: 100%;
    font-size: 32px;
    line-height: 50px;
    margin: auto;
    position: absolute;
}

#btn-action-cross{
    display: block;
    width: 50px;
    color: white;
    text-decoration: none;
    background-color: #519dd9;
    padding: 16px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    position: absolute;
    right: 0px;
}

#btn-action-cross:hover {
    cursor: pointer;
}

#right-part{
    background-color: #edeff1;
}

.two-adjacent-pile{
    padding-bottom: 1em;
}

#main_drawer {
    height: calc(100% - 46px);
    width: 100%;
    position: fixed;
    overflow: scroll;
    z-index: 10;
    top: 62px;
}

.input-text {
    margin: 8px;
    padding: 3px;
    font-size: 16px;
}

@media (min-width: 1000px) {
    .banner {
        display: block;
        position: relative;
        width: 100%;
        height: 50px;
        padding-top: 10px;
        margin: 0;
        margin-bottom: 2px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    }

    .single-class-banner {
        margin: 0;
        display: flex;
        flex-direction: row;
        height: 50px;
        background-color: white;
        width: 100%;
    }

    #left-banner {
        position: absolute;
        margin: 0 0 0 1em;
        height: 40px;
    }

    #left-banner>img {
        height: 40px;
    }

    #left-banner>span {
        color: #d1d1d1;
        font-size: 28px;
        font-weight: lighter;
        position: relative;
        top: -9px;
        left: 8px;
    }

    #left-banner>span>lead {
        color: #519dd9;
    }

    #left-banner>span>small {
        margin-left: 4px;
        font-size: 14px;
    }

    #right-banner {
        font-size: small;
        color: #000000;
        position: absolute;
        right: 0;
        margin: 0 2em 0 0;
        height: 40px;
        line-height: 40px;
    }

    #right-banner:hover {
        color: #666666;
        cursor: pointer;
    }

    #avatar {
        position: absolute;
        right: 30px;
    }

    #apps-menu:hover {
        color: #666666;
        cursor: default;
    }

    #apps-menu-arrow-back {
        border-color: transparent;
        border-style: dashed dashed solid;
        border-width: 0 8.5px 8.5px;
        position: absolute;
        z-index: 1;
        height: 0;
        width: 0;
        border-bottom-color: #ccc;
        border-bottom-color: rgba(0,0,0,.2);
        right: 92px;
        top: 39px;
    }

    #apps-menu-arrow-front {
        border-color: transparent;
        border-bottom-color: #fff;
        border-style: dashed dashed solid;
        border-width: 0 8.5px 8.5px;
        position: absolute;
        z-index: 1;
        height: 0;
        width: 0;
        right: 92px;
        top: 40px;
    }

    #apps-menu-detail {
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        right: 1em;
        top: 57px;
        border: 1px solid #ccc;
        background: #FFFFFF;
        z-index: 20;
        box-shadow: 1px 1px 7px 0 rgba(0,0,0,0.44);
    }

    .list-apps {
        position: relative;
        display: block;
        background: #fff;
        margin: 0;
        min-height: 100px;
        padding: 0 40px;
        text-align: left;
        white-space: normal;
        width: 100%;
        list-style-type: disc;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
        -webkit-user-select: text;
        font-size: 13px;
        font-family: arial,sans-serif;
        z-index: 996;
    }

    .drag {
        padding: 1px;
        display: inline-block;
        vertical-align: top;
        color: black;
        z-index: 997;
        width: 86px;
        height: 98px;
        border: 0;
        margin: 0;
        text-align: -webkit-match-parent;
    }

    .app {
        color: #999999;
        text-decoration: none;
        transform: translate(88px, 0px);
        transition: transform 0.2s cubic-bezier(0.333, 0, 0, 1);
        position: relative;
        cursor: pointer;
        font-size: 13px;
        margin: 8px 2px;
        text-align: center;
        outline: none;
        z-index: 998;
        width: 100%;
    }

    .app-img {
        display: block;
        width: 64px;
        height: 64px;
        z-index: 999;
        margin: 0 auto;
    }

    .app-desc {
        z-index: 999;
        width: 90px;
        display: flex;
        text-align: center;
    }

    .title, .content {
        padding: 10px;
        float: left;
        margin: -8px 0 0;
        height: 137px;
    }

    .title {
        width: 200px;
        margin: -8px 0 0;
        height: 137px;
    }

    #greeting {
        position: absolute;
        min-width: 300px;
        top: 2.4em;
        left: 21%;
        display: block;
        color: rgba(133,189,234,1);
        font-size: 2.5em;
        font-family: Tahoma, Geneva, sans-serif;
        z-index: 0;
    }

    #assignment-stats {
        position: absolute;
        width: 20%;
        height: calc(100% - 312px);
        display: block;
        box-sizing: border-box;
    }

    #assignment-list {
        margin-top: 14em;
    }

    .assignment-list {
        width: 65%;
        margin: 0 auto;
        margin-top: 2em;
        clear: both;
        background-color: white;
    }

    .title-text {
        color: #5b5b5b;
        font-size: 18px;
        font-weight: bold;
        line-height: 1em;
    }

    .assignment-info {
        color: #bfbfbf;
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .subject {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        font-size: 32px;
        font-weight: lighter;
        color: #85bdea;
    }

    .content {
        position: relative;
        width: calc(100% - 466px);
        border-right: 3px solid #edeff1;
        border-left: 3px solid #edeff1;
        overflow: visible;
    }

    .class-content {
        width: 80%;
        min-width:1000px;
        margin: 0 auto;
        min-height: 100px;
        background-color: #edeff1;
        padding-top: 2em;
    }

    .action {
        width: 220px;
        margin: -8px 0 0;
        float: left;
    }

    .content-text{
        line-height: 1.5;
        height: 100%;
    }

    .content-holder{
        position: relative;
        max-height: 130px;
        overflow: hidden;
        z-index: 0;
    }

    .content-holder:hover{
        z-index: 999;
        overflow: visible;
        background-color: white;
        height: initial;
        max-height: none;
        padding-bottom: 2em;
    }

    .time {
        margin: 20px 10px 10px 10px;
        line-height: 30px;
    }

    .action > hr {
        color: #edeff1;
        position: relative;
        /* left: -10px; */
        width: 220px;
        height: 3px;
        border: none;
        border-top: 3px solid #edeff1;
    }

    .title > hr {
        margin-top: 10px;
        margin-bottom: 10px;
        color: #edeff1;
        position: relative;
        left: -10px;
        width: 225px;
        height: 3px;
        border: none;
        border-top: 3px solid #edeff1;
    }

    .attachment-holder{
        line-height: 1;
        width: 100%;
        padding-top: 10px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: 1;
    }

    .attachment-divider {
        position: absolute;
        left: 0;
        width: 100%;
        border: none;
        border-top: 3px solid #edeff1;
    }

    .bar-finished, .bar-unfinished {
        position: relative;
        left: -75px;
        background-color: white;
        width:50px;
        height:50px;
        -webkit-border-radius:25px;
        -moz-border-radius:25px;
        border-radius:25px;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
    }

    .bar-finished {
        background-image: url("/framework/sam/check.png");
    }
    .bar-unfinished {
        background-image: url("/framework/sam/x.png");
    }

    .connector {
        position: relative;
        left: -95px;
        top:30px;
        width:20px;
        border: 4px solid #d8dbe0;
        z-index: 0;
    }

    .vertical {
        width: 0px;
        border: 4px solid #d8dbe0;
        position: absolute;
        left: calc(17.5% - 95px);
    }

    #percentage {
        margin: 0 calc(50% - 5em);
        position: absolute;
        top: -230px;
        left: -36px;
    }

    .due-left {
        float: left;
    }

    .due-right {
        float: right;
        color: #519dd9;
    }

    .btn-action, .btn-action-mark {
        display: block;
        width: calc(100% - 30px);
        color: white; !important;
        text-decoration: none;
        background-color: #519dd9;
        padding: 15px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }

    /* setting */

    #settings {
        width:100%;
    }

    #settings > div {
        margin-left: 48px;
        margin-top: 40px;
        padding: 22px;
        border-radius: 3px;
        float: left;
        width: 26%;
        color: #5E5E5E;
        line-height:2em;
        box-shadow: 2px 2px 2px lightgrey;
        height: 248px;
    }

    label {
        display: none;
    }

    /* class */

    .class-list {
        width: 240px;
        height: 120px;
        margin: 10px;
        padding: 11px;
        background-color: white;
        float: left;
        border-radius: 2px;
        line-height: 2em;
    }

    .class-list:hover{
        cursor: pointer;
        outline: lightgrey solid 4px;
    }

    .class-list > h2 {
        font-size: 1.5em;
        line-height: 3em;
    }

    .class-list > div {
        font-size: 1em;
        line-height: 1em
    }

    /*right part class linked to assignment*/

    .assignment-list-class {
        margin-left: 20px;
        margin-top: 40px;
        padding: 20px;
        border-radius: 2px;
        /*float: left;*/
        width: 75%;
        clear: both;
        /*line-height:2em;*/
        box-shadow: 2px 2px 2px lightgrey;
    }
    #assignment-list-class {
        padding-left: 10%;
    }

    .two-adjacent-pile > .assignment-list-class{
        margin-left: 20px;
        margin-top: 40px;
        border-radius: 2px;
        padding: 0;
        padding-top: 10px;
        width: 75%;
        clear: both;
        line-height:2em;
        box-shadow: 2px 2px 2px lightgrey;
    }

    .two-adjacent-pile > .assignment-list-class > .title{
        margin: 0;
    }

    .two-adjacent-pile > .assignment-list-class > .content{
        margin: 0;
        width: calc(100% - 243px);
        border-right: 0;
    }
}

@media (max-width: 999px) {
    .banner {
        display: block;
        position: relative;
        width: 100%;
        height: 50px;
        margin: 0;
        margin-bottom: 2px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    }

    #left-banner {
        position: absolute;
        margin: 0 0 0 1em;
        height: 40px;
    }

    #left-banner>img {
        height: 40px;
    }

    #left-banner>span {
        color: #d1d1d1;
        /*font-size: 28px;*/
        font-weight: lighter;
        position: relative;
        top: -9px;
        left: 8px;
    }

    #left-banner>span>lead {
        color: #519dd9;
    }

    #left-banner>span>small {
        margin-left: 4px;
        font-size: 14px;
    }

    #right-banner {
        font-size: small;
        color: #000000;
        position: absolute;
        right: 0;
        margin: 0 2em 0 0;
        height: 40px;
        line-height: 40px;
    }

    #right-banner:hover {
        color: #666666;
        cursor: pointer;
    }

    #avatar {
        position: absolute;
        right: 30px;
    }

    #apps-menu:hover {
        color: #666666;
        cursor: default;
    }

    #apps-menu-arrow-back {
        border-color: transparent;
        border-style: dashed dashed solid;
        border-width: 0 8.5px 8.5px;
        position: absolute;
        z-index: 1;
        height: 0;
        width: 0;
        border-bottom-color: #ccc;
        border-bottom-color: rgba(0,0,0,.2);
        right: 92px;
        top: 39px;
    }

    #apps-menu-arrow-front {
        border-color: transparent;
        border-bottom-color: #fff;
        border-style: dashed dashed solid;
        border-width: 0 8.5px 8.5px;
        position: absolute;
        z-index: 1;
        height: 0;
        width: 0;
        right: 92px;
        top: 40px;
    }

    #apps-menu-detail {
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        right: 1em;
        top: 47px;
        box-shadow: 1px 1px 7px 0 rgba(0,0,0,0.44);
        padding: 0 40px 0 0;;
        border: 1px solid #ccc;
        background: #FFFFFF;
        transition: height .2s ease-in-out;
        z-index:20;
    }


    .list-apps {
        position: relative;
        display: block;
        background: #fff;
        margin: 0;
        min-height: 100px;
        padding: 0;
        text-align: left;
        white-space: normal;
        width: 100%;
        list-style-type: disc;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
        -webkit-user-select: text;
        font-size: 13px;
        font-family: arial,sans-serif;
        z-index: 996;
    }

    .drag {
        padding: 1px;
        display: inline-block;
        vertical-align: top;
        color: black;
        z-index: 997;
        width: 86px;
        height: 98px;
        border: 0;
        margin: 0;
        text-align: -webkit-match-parent;
    }

    .app {
        color: #404040;
        text-decoration: none;
        transform: translate(88px, 0px);
        transition: transform 0.2s cubic-bezier(0.333, 0, 0, 1);
        position: relative;
        cursor: pointer;
        font-size: 13px;
        margin: 8px 2px;
        text-align: center;
        outline: none;
        z-index: 998;
        width: 100%;
    }

    .app-img {
        display: block;
        width: 64px;
        height: 64px;
        z-index: 999;
        margin: 0 auto;
    }

    .app-desc {
        z-index: 999;
        width: 90px;
        display: flex;
        text-align: center;
    }

    #greeting {
        color: rgba(133,189,234,1);
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 20px;
        width: 100%;
        text-align: center;
        margin-top: 1em;
    }

    .title, .content {
        /*background-color: red;*/
        padding: 10px;
        margin: 0;
        height: auto;
    }

    .action {
        margin: 0;
        height: auto;
    }

    .title {
        border-bottom: 3px solid #edeff1;
    }

    .action {
        height: 30px;
    }

    #assignment-list {
        margin-top: 4em;
    }

    #assignment-stats {
        display: none;
    }

    .assignment-list {
        width: 95%;
        margin: 0em auto;
        margin-top: 1em;
        clear: both;
        background-color: white;
    }

    .title>hr {
        display: none;
    }

    .action>hr {
        display: none;
    }

    .title-text {
        color: #5b5b5b;
        /*font-size: 50px;*/
        font-weight: bold;
    }

    .assignment-info {
        color: #bfbfbf;
        /*font-size: 32px;*/
        margin-top: 10px;
        margin-bottom: 10px;
        float: left
    }

    .subject {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        /*font-size: 32px;*/
        font-weight: lighter;
        color: #85bdea;
        text-align: right;
    }

    .content-holder{
        /*font-size: 40px;*/
    }

    .attachment-holder {
        line-height: 1;
        margin-top: 10px;
        position: relative;
        bottom: 0px;
    }

    .attachment-divider {
        display: none;
    }

    .attachment-holder > div > a {
        /*font-size: 40px;*/
    }

    .connector, .bar-finished, .bar-unfinished, .vertical , #percentage {
        display: none;
    }

    .btn-action-mark {
        display: block;
        width: calc(100% - 20px);
        color: white; !important;
        text-decoration: none;
        background-color: #519dd9;
        padding: 14px;
        text-transform: uppercase;
        font-weight: bold;
        font-size:larger;
        text-align: center;
        float: right;
        margin-left: 10px;
    }

    .btn-action {
        display: block;
        width: calc(100% - 20px);
        color: white; !important;
        text-decoration: none;
        background-color: #519dd9;
        padding: 14px;
        text-transform: uppercase;
        font-weight: bold;
        font-size:larger;
        text-align: center;
    }

    .time {
        display: block;
        margin: 10px;
        line-height: 30px;
    }

    .due-left {
        color: #bfbfbf;
        /*font-size: 32px;*/
    }

    .due-right {
        float: right;
        color: #519dd9;
        /*font-size: 32px;*/
    }

    /*settings*/

    #settings {
        width:100%;
    }

    #settings > div {
        width: 100%;
        margin-top: 20px;
        padding: 20px;
        border-radius: 2px;
        line-height:2em;
        box-shadow: 2px 2px 2px lightgrey;
    }

    label {
        display: none;
    }

    .button{
        width: 43%;
        background-color: #2595E9;
        -webkit-border-radius: 3px;
        text-align: center;
        margin-left: 7px;
        margin-top: 19px;
        padding: 4px
     }

    /* class */

    .class-list {
        line-height: 2em;
        width: 95%;
        margin-top: 10px;
        padding: 10px;
        background-color: white;
        clear: both;
        border-radius: 2px;
        border-top: 10px solid #edeff1;
    }

    .class-list > div {
        display: block;
    }

    /* right part class link to assignment*/

    #right-part-view-class {
        background-color: #edeff1; !important;
    }

    #assignment-list-class {
        width: calc(100% - 20px);
        margin-top: 10px;
        padding: 10px;
        background-color: white;
        clear: both;
        border-radius: 2px;
        box-shadow: 2px 2px 2px lightgrey;
    }


    .assignment-list, .assignment-list-class, .activity-list, .activity-comment-list {
        width: auto;
    }

    .two-adjacent-pile > .assignment-list-class > .action{
        display: none;
    }
}
