a {
    color: #85bdea;
}

@font-face {

    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('http://wflmssam.sinaapp.com/framework/googlefont/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('http://wflmssam.sinaapp.com/framework/googlefont/MaterialIcons-Regular.woff2') format('woff2'),
    url('http://wflmssam.sinaapp.com/framework/googlefont/MaterialIcons-Regular.woff') format('woff'),
    url('http://wflmssam.sinaapp.com/framework/googlefont/MaterialIcons-Regular.ttf') format('truetype');
}

/* MDL Fonts*/

body {
    padding: 0;
    margin: 0;
}

.banner {
    display: block;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    margin: 0; !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

#left-banner {
    position: absolute;
    margin: 0 0 0 1em;
    height: 40px;
}
#left-banner>img {
    height: 40px;
}

#left-banner>span {
    color: #d1d1d1;
    font-size: 28px;
    font-weight: lighter;
    position: relative;
    top: -9px;
    left: 8px;
}

#left-banner>span>lead {
    color: #519dd9;
}

#left-banner>span>small {
    margin-left: 4px;
    font-size: 14px;
}

#right-banner {
    font-size: small;
    color: #000000;
    position: absolute;
    right: 0;
    margin: 0 2em 0 0;
    height: 40px;
    line-height: 40px;
}

#right-banner:hover {
    color: #666666;
    cursor: pointer;
}

#avatar {
    position: absolute;
    right: 100px;
}

#apps-menu {
    position: absolute;
    right: 150px;
    color: #AAAAAA;
    height: 40px;
    line-height: 40px;
}

#apps-menu:hover {
    color: #666666;
    cursor: default;
}

#apps-menu-arrow-back {
    border-color: transparent;
    border-style: dashed dashed solid;
    border-width: 0 8px 8px;
    position: absolute;
    right: 154px;
    top: 39px;
    z-index: 1;
    height: 0;
    width: 0;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0,0,0,.2);
}

#apps-menu-arrow-front {
    border: 8px dashed transparent;
    border-top-width: 0;
    border-bottom: 8px solid #fff;
    position: absolute;
    right: 154px;
    top: 40px;
    z-index: 1;
    height: 0;
    width: 0;
}

#apps-menu-detail {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    right: 1em;
    top: 47px;
    border: 1px solid #ccc;
    background: #FFFFFF;
    min-height: 196px;
    width: 320px;
    transition: height .2s ease-in-out;
}

.footer {
    clear: both;
}

body, #assignment-list-wrapper, #assignment-list {
    background-color: #edeff1; !important;
}

div {
    background-color: white;
}

#apps-menu {
    position: absolute;
    right: 87px;
    color: #AAAAAA;
    height: 40px;
    line-height: 40px;
}

#avatar {
    position: absolute;
    right: 28px;
}

@media (min-width: 1000px) {
    .title, .content {
        padding: 10px;
        margin: 0;
        float: left;
    !important;
    }

    .title {
        width: 200px;
    }

    .action {
        width: 220px;
        margin: 0;
        float: left;
        /* line-height: 30px; */
    }

    #greeting {
        position: absolute;
        width: 85%;
        min-width: 300px;
        top: 2.4em;
        left: 21%;
        display: block;
        color: rgba(133,189,234,1);
        font-size: 50px;
        font-family: Tahoma, Geneva, sans-serif;
    }

    #assignment-stats {
        position: absolute;
        width: 20%;
        height: 100%;
        display: block;
        box-sizing: border-box;
    }

    #assignment-list {
        margin-top: 14em;
    }

    .assignment-list {
        width: 65%;
        margin: 1em auto;
        clear: both;
        background-color: white;
    }

    .title-text {
        color: #5b5b5b;
        font-size: 18px;
        font-weight: bold;
    }

    .assignment-info {
        color: #bfbfbf;
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .subject {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        font-size: 32px;
        font-weight: lighter;
        color: #85bdea;
    }

    .content {
        position: relative;
        top: 0px;
        bottom: 0px;
        width: calc(100% - 466px);
        border-right: 3px solid #edeff1;
        border-left: 3px solid #edeff1;
        height: 128px;
        overflow: visible;
    }

    .content-text{
        line-height: 1.5;
        height: 100%;
    }

    .content-holder{
        max-height: 130px;
        overflow: scroll;
    }

    .time {
        margin: 10px;
        line-height: 30px;
    }

    .action > hr {
        color: #edeff1;
        position: relative;
        /* left: -10px; */
        width: 220px;
        height: 3px;
        border: none;
        border-top: 3px solid #edeff1;
    }

    .title > hr {
        margin-top: 10px;
        margin-bottom: 10px;
        color: #edeff1;
        position: relative;
        left: -10px;
        width: 225px;
        height: 3px;
        border: none;
        border-top: 3px solid #edeff1;
    }

    .attachment-holder{
        line-height: 1;
        margin-top: 10px;
        position: absolute;
        bottom: 0px;
    }

    .attachment-divider {
        position: absolute;
        left: 0;
        width: 100%;
        border: none;
        border-top: 3px solid #edeff1;
    }

    .bar-finished, .bar-unfinished {
        position: relative;
        left: -75px;
        background-color: white;
        width:50px;
        height:50px;
        -webkit-border-radius:25px;
        -moz-border-radius:25px;
        border-radius:25px;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
    }

    .bar-finished {
        background-image: url("/framework/sam/check.png");
    }
    .bar-unfinished {
        background-image: url("/framework/sam/x.png");
    }

    .connector {
        position: relative;
        left: -95px;
        top:30px;
        width:20px;
        border: 4px solid #d8dbe0;
        z-index: 0;
    }

    .vertical {
        width: 0px;
        border: 4px solid #d8dbe0;
        position: absolute;
        left: calc(17.5% - 95px);
    }

    #percentage {
        margin: 0 calc(50% - 5em);
    }

    .due-left {
        float: left;
    }

    .due-right {
        float: right;
        color: #519dd9;
    }

    .btn-action {
        display: block;
        width: calc(100% - 30px);
        color: white; !important;
        text-decoration: none;
        background-color: #519dd9;
        padding: 15px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }
}

@media (max-width: 999px) {
    #greeting {
        color: rgba(133,189,234,1);
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 50px;
        width: 100%;
        text-align: center;
        margin-top: 1em;
    }

    .title, .content {
        /*background-color: red;*/
        padding: 10px;
        margin: 0;
        height: auto;
    }

    .action {
        margin: 0;
        height: auto;
    }

    .title {
        border-bottom: 3px solid #edeff1;
    }

    .action {
        height: 30px;
    }

    .btn-action {
        position: relative;
    }

    #assignment-list {
        margin-top: 4em;
    }

    #assignment-stats {
        display: none;
    }

    .assignment-list {
        width: 95%;
        margin: 1em auto;
        clear: both;
        background-color: white;
    }

    .title>hr {
        display: none;
    }

    .action>hr {
        display: none;
    }

    .title-text {
        color: #5b5b5b;
        font-size: 50px;
        font-weight: bold;
    }

    .assignment-info {
        color: #bfbfbf;
        font-size: 32px;
        margin-top: 10px;
        margin-bottom: 10px;
        float: left
    }

    .subject {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        font-size: 32px;
        font-weight: lighter;
        color: #85bdea;
        text-align: right;
    }

    .content-holder{
        font-size: 40px;
    }

    .attachment-holder {
        line-height: 1;
        margin-top: 10px;
        position: relative;
        bottom: 0px;
    }

    .attachment-divider {
        display: none;
    }

    .attachment-holder > div > a {
        font-size: 40px;
    }

    .connector, .bar-finished, .bar-unfinished, .vertical , #percentage {
        display: none;
    }

    .btn-action {
        display: block;
        width: 30%;
        color: white; !important;
        text-decoration: none;
        background-color: #519dd9;
        padding: 15px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        font-size: 30px;
        float: right;
        margin-left: 10px;
        height: 42px;
    }

    .time {
        display: block;
        margin: 10px;
        line-height: 30px;
    }

    .due-left {
        color: #bfbfbf;
        font-size: 32px;
    }

    .due-right {
        float: right;
        color: #519dd9;
        font-size: 32px;
    }
}