a {
    color: #85bdea;
}

@font-face {

    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('http://wflmssam.sinaapp.com/framework/googlefont/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('http://wflmssam.sinaapp.com/framework/googlefont/MaterialIcons-Regular.woff2') format('woff2'),
    url('http://wflmssam.sinaapp.com/framework/googlefont/MaterialIcons-Regular.woff') format('woff'),
    url('http://wflmssam.sinaapp.com/framework/googlefont/MaterialIcons-Regular.ttf') format('truetype');
}

/* MDL Fonts*/

body {
    padding: 0;
    margin: 0;
}

.banner {
    display: block;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    margin: 0; !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

#left-banner {
    position: absolute;
    margin: 0 0 0 1em;
    height: 40px;
}
#left-banner>img {
    height: 40px;
}

#left-banner>span {
    color: #d1d1d1;
    font-size: 28px;
    font-weight: lighter;
    position: relative;
    top: -9px;
    left: 8px;
}
/*
#left-banner>span>lead {
    color: #519dd9;
}*/

#left-banner>span>small {
    margin-left: 4px;
    font-size: 14px;
}

#right-banner {
    font-size: small;
    color: #000000;
    position: absolute;
    right: 0;
    margin: 0 2em 0 0;
    height: 40px;
    line-height: 40px;
}

#right-banner:hover {
    color: #666666;
    cursor: pointer;
}

#avatar {
    position: absolute;
    right: 100px;
}

#apps-menu {
    position: absolute;
    right: 150px;
    color: #AAAAAA;
    height: 40px;
    line-height: 40px;
}

#apps-menu:hover {
    color: #666666;
    cursor: default;
}

#apps-menu-arrow-back {
    border-color: transparent;
    border-style: dashed dashed solid;
    border-width: 0 8px 8px;
    position: absolute;
    right: 154px;
    top: 39px;
    z-index: 1;
    height: 0;
    width: 0;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0,0,0,.2);
}

#apps-menu-arrow-front {
    border: 8px dashed transparent;
    border-top-width: 0;
    border-bottom: 8px solid #fff;
    position: absolute;
    right: 154px;
    top: 40px;
    z-index: 1;
    height: 0;
    width: 0;
}

#apps-menu-detail {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    right: 1em;
    top: 47px;
    border: 1px solid #ccc;
    background: #FFFFFF;
    min-height: 196px;
    width: 320px;
    transition: height .2s ease-in-out;
}

.assignment-list {
    /*width : 960px; !important;*/
    clear: both;
    background-color: white; !important;
    margin: 0 auto;
}

#assignment-list {
    margin-top: 7em;
}

#assignment-stats {
    position: absolute;
    width: 20%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

#percentage {
    margin: 0 calc(50% - 5em);
}

#greeting {
    position: absolute;
    width: 40%;
    min-width: 300px;
    top: 4.5em;
    left: 40%;
    display: block;
    color: rgba(133,189,234,1);
    font-size: 38px;
    font-family: sans-serif;
}

#assignment-list-wrapper {
    margin-top: 10.5em;
}

.subject {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-size: 32px;
    font-weight: lighter;
    color: #85bdea;
}

.footer {
    clear: both;
}

.btn-action {
    width: 100%;
    color: white; !important;
    text-decoration: none;
    background-color: #519dd9;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.content{
    height: 128px;
    overflow: visible;
}

.content-text{
    line-height: 1.5;
    height: 100%;
}

.content-holder{
    max-height: 130px;
    overflow: scroll;
}

.attachment-holder{
    line-height: 1;
    margin-top: 10px;
    position: absolute;
    bottom: 0px;
}

.attachment-divider {
    position: absolute;
    left: 0;
    width: 100%;
    border: none;
    border-top: 3px solid #edeff1;
}