<?php
/**
 * Created by IntelliJ IDEA.
 * User: Sam
 * Date: 3/27/15
 * Time: 19:04
 */

?>
<div id="mSettings" style="display: none">
    <div class="settings_section">
        <div class="settings_title_bar">Change Password</div>
        <div>
            <div>
                <div class="form">
                    <input class="card" id="oldPass" type="password" placeholder="Your old password." />
                </div>
                <div class="form">
                    <input class="card" id="newPass1" type="password" placeholder="Your new password." />
                </div>
                <div class="form">
                    <input class="card" id="newPass2" type="password" placeholder="Retype your new password." />
                </div>
            </div>
            <div style="text-align: center">
                <button class="pure-button pure-button-primary" onclick="changePassword()">Change Password</button>
            </div>
        </div>
    </div>
    <div class="settings_section">
        <div class="settings_title_bar">Change Email</div>
        <div>
            <div>
                <div class="form">
                    <input class="card" id="newEmail" type="email" placeholder="Your new Email" />
                </div>
            </div>
            <div style="text-align: center">
                <button class="pure-button pure-button-primary" onclick="changeEmail()">Change Email</button>
            </div>
        </div>
    </div>
</div>